html, body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: rgb(8, 1, 44);
}

* {
    box-sizing: border-box;
}

.container {
    flex: display;
    margin: 10px 20px;
    padding: 10px;
}

.header {
    border-radius: 10px 10px 0 0;
    border: 3px solid rgb(253, 253, 155);
    background-color: transparent;
    padding: 2px;
}

.header h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: rgb(228, 238, 247);
}

fieldset {
    margin: 10px 0;
    border: 3px solid rgb(253, 253, 155);
}

legend {
    text-align: center;
    text-transform: uppercase;
    color: rgb(228, 238, 247);
    letter-spacing: 2px;
    font-size: 1.2rem;
}