html, body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-image: linear-gradient(to bottom right, rgba(181, 87, 243, 0.2), rgba(181, 87, 243, 0.5), rgba(181, 87, 243, 0.8), rgba(181, 87, 243, 1.0));
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 20px;
    padding: 30px 10px;
}

.header {
    border-radius: 10px 10px 0 0;
    border: 5px solid rgba(248, 16, 147, 0.7);
    background-color: transparent;
    margin: 10px 50px;
    padding: 2px;
}

.header h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: rgb(153, 7, 131);
    text-shadow: 1px 1px 3px rgb(35, 33, 33); 
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 20px 50px;
    padding: 20px 30px;
    border: 5px solid rgba(248, 16, 147, 0.7);
}

.last {
    border-radius: 0 0 10px 10px;
}

legend {
    text-align: center;
    text-transform: uppercase;
    color: rgb(59, 1, 51);
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.content {
    margin-top: 20px;
    font-size: 1.2em;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

.content > label {
    font-size: 1.1rem;
    background: rgb(12, 158, 206);
    padding: 1px 2px;
    border-radius: 5px;
}

.content > label:not(.normal) {
    position: absolute;
    font-size: 0.9rem;
    transform: translate(10px, -10px);
    background: rgb(12, 158, 206);
    padding: 1px 2px;
    border-radius: 5px;
}

.content input[type=text], input[type=number], input[type=date], select  {
    border-radius: 5px;
    outline: none;
    background: transparent;
    border: 2px solid rgb(14, 83, 230);
    height: auto;
    width: 75%;
    padding: 10px;
    font-size: 1.2rem;
}

.content input[type=text]:focus, .content input[type=number]:focus, .content input[type=date]:focus, .content select:focus {
    border: 2px solid rgb(4, 43, 128);
    transition: .5s;
} 

.content .gender {
    font-size: 1rem;
}

.buttons {
    align-self: center;
}

.submit, .reset {
    margin-right: 20px;
    height: 50px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 3px solid rgb(14, 83, 230);
    background-image: linear-gradient(to right, rgba(248, 138, 182, 0.5), rgba(248, 138, 182, 0.8), rgba(248, 138, 182, 1.0) ); 
    color: rgb(59, 1, 51);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}


.submit:hover, .reset:hover {
    background-image: linear-gradient(to right, rgba(119, 192, 238, 0.5), rgba(119, 192, 238, 0.8), rgba(119, 192, 238, 1.0) ); 
    color: rgb(3, 42, 100);
}

.submit a {
    text-decoration: none;
    color: rgb(59, 1, 51);
}

.submit a:hover {
    color: rgb(3, 42, 100);    
}








